.tt {
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.container-fluid {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}